*{
    box-sizing: border-box;
}

#board-container{
    display: flex;
    justify-content: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.site-content {
    margin-top: 100px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
}

header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    background: fixed;
    background-color: lightgray;
}


.menus {
    text-align: center;
}

.menus div{
    display: inline;
}

.menu-item{
    margin-left: 5%;
    margin-right: 5%;
}

#box {
    text-align: center;
}

#MinesweeperBoard {
    justify-items: center;
    user-select: none;
}

#MinesweeperBoard table {
    border-collapse: collapse;
    font-size: 150%;
    font-weight: bold;
    display: inline-block;
}

#MinesweeperBoard table td {
    background-color: rgb(195, 195, 195);
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
    border: 1px solid black;    
}

#EndGame, #flags, #timer{
    font-size: 150%;
    font-weight: bold;
    color: blue;
    display: inline;
    text-align: center;
}
#BoardSudoku table {
    border-collapse: collapse;
    display: inline-block;
    border: 2px solid black;
}

#BoardSudoku table td {
    border-collapse: collapse;
    display: inline-block;
    border: 2px solid black;
}

#BoardSudoku table td td{
    background-color: white;
    font-size: 150%;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    justify-content: center;
}

#SudokuSolution table {
    border-collapse: collapse;
    font-size: 150%;
    font-weight: bold;
    display: inline-block;
    border: 2px solid black;
}

#SudokuSolution table td {
    border-collapse: collapse;
    font-size: 125%;
    font-weight: bold;
    display: inline-block;
    border: 2px solid black;
}

#SudokuSolution table td td{
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}