*{
    box-sizing: border-box;
}

#board-container{
    display: flex;
    justify-content: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.site-content {
    margin-top: 100px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
}

header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    background: fixed;
    background-color: lightgray;
}


.menus {
    text-align: center;
}

.menus div{
    display: inline;
}

.menu-item{
    margin-left: 5%;
    margin-right: 5%;
}

#box {
    text-align: center;
}

body{
    background-color: rgb(0, 0, 0);
}

#MinesweeperBoard table {
    border-collapse: collapse;
    font-size: 150%;
    font-family: san-serif;
    font-weight: bold;
    display: inline-block;
}

#MinesweeperBoard table td {
    background-color: rgb(195, 195, 195);
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
    border: 1px solid black;    
}

#EndGame {
    font-size: 300%;
    font-weight: bold;
    color: blue;
}

button {
    width: 100px;
    height: 30px;
    background-color:rgb(195, 195, 195);
    color: black;
    font-weight: bolder;
    border-radius: 20px 20px 20px 20px;
}
